---
---

body {
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}

.author__avatar {
    vertical-align: middle;
}

.author__avatar img {
    max-width: 150px;
}

.archive {
    font-size: 18px;
}

.sidebar {
    font-size: 22px;
}

.btn--small {
    padding: 0.2em 0.6em;
}

.btn--disabled {
    pointer-events: none;
    cursor: default;
    opacity: 1.0;
}